# Sales Analysis

Import Libraries

In [1]:
import pandas as pd
import os

#### Task 1: Merging 12 months of sales data into a single file

In [3]:
file_path = '/Users/christinamanara/Library/Mobile Documents/com~apple~CloudDocs/Data Science & Machine Learning/Personal Projects/Sales_Analysis-1/Sales_Data'
file_list = os.listdir(file_path)
file_list

['Sales_December_2019.csv',
 'Sales_April_2019.csv',
 'Sales_February_2019.csv',
 'Sales_March_2019.csv',
 'Sales_August_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_January_2019.csv',
 'Sales_September_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv']

In [8]:
df_append = pd.DataFrame()

#append all files into a csv
for file in file_list:
    df_tmp = pd.read_csv(file_path+'/'+file)
    df_append = df_append.append(df_tmp, ignore_index=True)
df_append

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

#### Task 2: What was the best month for sale? How much was earned that month?

In [30]:
df_append['Date'] = pd.to_datetime(df_append['Order Date'], errors='coerce')
df_append['Date'] = df_append['Date'].dt.month
df1 = df_append[['Date', 'Quantity Ordered']]

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df1

        Date Quantity Ordered
0       12.0                1
1       12.0                1
2       12.0                1
3       12.0                1
4       12.0                1
...      ...              ...
186845   6.0                1
186846   6.0                1
186847   6.0                1
186848   6.0                1
186849   6.0                1

[186850 rows x 2 columns]

In [ ]:
df1.groupby('Date')['Quantity Ordered'].count().reset_index().max()

Date                   12.0
Quantity Ordered    24984.0
dtype: float64