# Sales Analysis

Import Libraries

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None  # default='warn'

#### Task 1: Merging 12 months of sales data into a single file

In [2]:
file_path = '/Users/christinamanara/Library/Mobile Documents/com~apple~CloudDocs/Data Science & Machine Learning/Personal Projects/Sales_Analysis-1/Sales_Data'
file_list = os.listdir(file_path)
file_list

['Sales_December_2019.csv',
 'Sales_April_2019.csv',
 'Sales_February_2019.csv',
 'Sales_March_2019.csv',
 'Sales_August_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_January_2019.csv',
 'Sales_September_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv']

In [3]:
df_append = pd.DataFrame()

#append all files into a csv
for file in file_list:
    # df_tmp = pd.read_csv(file_path+'/'+file)
    # df_append = df_append.append(df_tmp, ignore_index=True)
    df = pd.read_csv(file_path+'/'+file, header=0)
    df_append = pd.concat((df, df_append), axis=0)

df_append.to_csv('all.csv')

In [ ]:
count_row = df_append.shape[0]  # Gives number of rows
count_col = df_append.shape[1]  # Gives number of columns
print("Shape of the dataframe before cleaning:", count_row, count_col)

#### Cleaning the dataframe!

In [4]:
df_append_nan = df_append[df_append.isna().any(axis=1)]
df_append_nan

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
339        NaN     NaN              NaN        NaN        NaN              NaN
630        NaN     NaN              NaN        NaN        NaN              NaN
735        NaN     NaN              NaN        NaN        NaN              NaN
1136       NaN     NaN              NaN        NaN        NaN              NaN
1349       NaN     NaN              NaN        NaN        NaN              NaN
...        ...     ...              ...        ...        ...              ...
22945      NaN     NaN              NaN        NaN        NaN              NaN
22962      NaN     NaN              NaN        NaN        NaN              NaN
23309      NaN     NaN              NaN        NaN        NaN              NaN
23996      NaN     NaN              NaN        NaN        NaN              NaN
24730      NaN     NaN              NaN        NaN        NaN              NaN

[545 rows x 6 columns]

In [5]:
# Reset index after drop
df_append = df_append.dropna(how='all')
df_append

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700.0,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [6]:
count_row = df_append.shape[0]  # Gives number of rows
count_col = df_append.shape[1]  # Gives number of columns
print("Shape of the dataframe before cleaning:", count_row, count_col)

Shape of the dataframe before cleaning: 186305 6

Creation of new column - City (will be useful for task 2)

In [7]:
def extract_city(tmp):
    if len(tmp) > 20:
        result = tmp.split(',')[1] + tmp.split(',')[2].split(' ')[0]
        return result

df_append['City'] = df_append['Purchase Address'].apply(extract_city)

In [8]:
df_append

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101",Portland
1,209922,Macbook Pro Laptop,1,1700.0,06/30/19 10:05,"80 4th St, San Francisco, CA 94016",San Francisco
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001",Los Angeles
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101",Seattle
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016",San Francisco
...,...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",San Francisco
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",Los Angeles
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",Seattle
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",Dallas
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",Los Angeles

#### Task 2: What was the best month for sale? How much was earned that month?

In [ ]:
df_append['Date'] = pd.to_datetime(df_append['Order Date'], errors='coerce')
df_append['Date'] = df_append['Date'].dt.month
df_append['Date'] = df_append['Date'].astype('Int64')

df_append['Quantity Ordered'] = pd.to_numeric(df_append['Quantity Ordered'], errors='coerce')
df_append['Price Each'] = pd.to_numeric(df_append['Price Each'], errors='coerce')
df_append['Date'] = df_append['Date'].astype('Int64')
df_append['Quantity Ordered'] = df_append['Quantity Ordered'].astype('Int64')
df_append['Total Price'] = df_append['Quantity Ordered'] * df_append['Price Each']

df1 = df_append[['Date', 'Quantity Ordered', 'Price Each', 'Total Price']]

In [ ]:
df1

In [ ]:
df1.head(20)

In [ ]:
# How many items ordered in December
df1.groupby('Date')['Quantity Ordered'].count().reset_index().max()

In [ ]:
df2 = df1.groupby('Date')['Total Price'].sum().reset_index().max()
df2.astype(int)

In [ ]:
df3 = df1.groupby('Date')['Total Price'].sum().reset_index()
df3

Visualisation of results

In [ ]:
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(df3['Date'], df3['Total Price'], color ='maroon',
        width = 0.4)
 
plt.xlabel("Time")
plt.ylabel("Total price per month")
plt.title("Sales per month")
plt.show()

#### Task 3: What city had the highest number of sales?

In [ ]:
df_append

In [ ]:
df2 = df_append[['Purchase Address', 'Total Price']]
df2

In [ ]:
df4 = df2.groupby('Purchase Address')['Total Price'].sum().reset_index()

In [ ]:
fig = plt.figure(figsize = (10, 5))

date = range(1, 13)
# creating the bar plot
plt.bar(df4['Purchase Address'], df4['Total Price'], color ='maroon',
        width = 0.4)
 
plt.xlabel("Time")
plt.ylabel("Total price per month")
plt.title("Sales per month")
plt.show()